/* .containerFruits {
  display: flex;
}

.modal {
  display: none;
  position: fixed;
  background-color: red;
}

.contenuModal {
  background-color: blue;
  width: 50%;
} */

.dNone {
  display: none;
}
